<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DataEntryForm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PPCLUB.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" asp-append-version="true">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3" style="backdrop-filter: blur(50px);">
            <div class="container-fluid">
                <a class="navbar-brand text-white">PPCLUB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @{
                    if(ViewBag.AuthId != null)
                    {
                
                    var AuthId = ViewBag.AuthId;
                
                <div class="btn-group dropstart" style="width: 70px; height: 50px;">
                    <button class="btn-secondary" data-bs-toggle="dropdown" aria-expanded="false" style="border:hidden; width:50px; border-radius: 100px;">
                        <i class="bi-person-circle" style="height:100px; width:100px;"></i> 
                    </button>
                    <ul class="dropdown-menu" aria-expanded="false">
                        <li><a class="dropdown-item" href="@Url.Action("Details", "User", new { id = AuthId })">Profile</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Index", "Home", new { AuthId = AuthId })">Members List</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="User" asp-action="Logout">Logout</a></li>
                    </ul>
                </div>
                }
                }


            @*     <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div> *@
            </div>
        </nav>
        
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-white" style="margin-top:300px;">
        <div class="container" style="margin-left:unset">
            @* &copy; 2023 - PP-CLUB DataEntryForm - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
            <h2>PITAMPURA CLUB (Regd.)</h2>
            <p>ZONE : H-4/5, PITAMPURA, DELHI-110034<br />Tel. : 45064839, 27026184, 27017284, Mob. : 8920224941, 9354975012<br />e-mail : info@pitampuraclub.com<br />Please fill the form and WhatApp/e-mail to :<br />8920224941, 9354975012.</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
