@model MemberDataEntryForm.Models.UserData

@{
    ViewData["Title"] = "Create";
}
<h3>Admin Only Portal</h3>
<h1>Create New User</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">First Name*</h6>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Last Name*</h6>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">E-Mail Address*</h6>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Confirm E-Mail*</h6>
                        <input asp-for="EmailConfirmed" class="form-control" />
                        <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Enter Password*</h6>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Confirm Password*</h6>
                        <input asp-for="PasswordConfirmed" class="form-control" />
                        <span asp-validation-for="PasswordConfirmed" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Address*</h6>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">City*</h6>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Contact Number*</h6>
                        <input asp-for="MobileNo" class="form-control" />
                        <span asp-validation-for="MobileNo" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">User Role*</h6>
                        <select asp-for="UserRoleId" class="form-control" asp-items="ViewBag.userType"></select>
                        @* <input asp-for="UserRoleId" class="form-control" /> *@
                        <span asp-validation-for="UserRoleId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
        <br />
    </div>
</div>
<a asp-controller="User" asp-action="Index" asp-route-id="@Model?.UserId" class="btn btn-primary">Back to List</a> |
<a asp-controller="User" asp-action="Logout" class="btn btn-primary">Admin LogOut</a>
@* <div>
    <a asp-action="Index">Have Account? - Login Here</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
