@model MemberDataEntryForm.Models.MemberImageModel

@{
    ViewData["Title"] = "Create";
}





        <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

@*     <div class="row d-inline"> *@
    <div class="row">
        <div class="col">
            <h4>FOR MEMBER DIRECTORY</h4>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        @*<label asp-for="Name" class="control-label">Name*</label> *@
                        <h6 class="d-inline">Name*</h6>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">E-mail*</h6>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">D.O.B*</h6>
                        <input asp-for="Dob" class="form-control" />
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Permanent Address*</h6>
                        <input asp-for="ResAddress" class="form-control" />
                        <span asp-validation-for="ResAddress" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Registered Phone No*</h6>
                        <input asp-for="ResPhone" class="form-control" />
                        <span asp-validation-for="ResPhone" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Office No*</h6>
                        <input asp-for="OfficeNo" class="form-control" />
                        <span asp-validation-for="OfficeNo" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Profession / Occupation*</h6>
                        <input asp-for="Profession" class="form-control" />
                        <span asp-validation-for="Profession" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Office Address*</h6>
                        <input asp-for="OfficeAddress" class="form-control" />
                        <span asp-validation-for="OfficeAddress" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Mobile No*</h6>
                        <input asp-for="MobileNo" class="form-control" />
                        <span asp-validation-for="MobileNo" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Alternate Mobile No.*</h6>
                        <input asp-for="AlternateMobileNo" class="form-control" />
                        <span asp-validation-for="AlternateMobileNo" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Date of Marriage*</h6>
                        <input asp-for="DateofMarriage" class="form-control" />
                        <span asp-validation-for="DateofMarriage" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Spouse Name*</h6>
                        <input asp-for="NameofSpouse" class="form-control" />
                        <span asp-validation-for="NameofSpouse" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Spouse D.O.B*</h6>
                        <input asp-for="SpouseDob" class="form-control" />
                        <span asp-validation-for="SpouseDob" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Child Name</h6>
                        <input asp-for="ChildName" class="form-control" />
                        <span asp-validation-for="ChildName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <h6 class="d-inline">Upload Image</h6>
                    <input asp-for="Photo" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>
        </div>


            @*this below create fields are for MemberFamilyData*@
        <div class="col">
                <h4>FOR MEMBER FAMILY DIRECTORY</h4>
                <br />

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Mobile" class="control-label"></label>
                        <input asp-for="Mobile" class="form-control" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="ChildName" class="control-label"></label>
                        <input asp-for="ChildName" class="form-control" />
                        <span asp-validation-for="ChildName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Relation" class="control-label"></label>
                        <input asp-for="Relation" class="form-control" />
                        <span asp-validation-for="Relation" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="HomeAddress" class="control-label"></label>
                        <input asp-for="HomeAddress" class="form-control" />
                        <span asp-validation-for="HomeAddress" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
    


            @*this below create fields are for MemberBusinessData*@
            @* <div class="row"> *@
            <div class="col">
            <h4>FOR MEMBER BUSINESS DIRECTORY</h4>
            <br />

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="BusinessName" class="control-label"></label>
                            <input asp-for="BusinessName" class="form-control" />
                            <span asp-validation-for="BusinessName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="BusinessDetail" class="control-label"></label>
                            <input asp-for="BusinessDetail" class="form-control" />
                            <span asp-validation-for="BusinessDetail" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="BusinessAddress" class="control-label"></label>
                            <input asp-for="BusinessAddress" class="form-control" />
                            <span asp-validation-for="BusinessAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="BusinessCity" class="control-label"></label>
                            <input asp-for="BusinessCity" class="form-control" />
                            <span asp-validation-for="BusinessCity" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="BusinessPostalCode" class="control-label"></label>
                            <input asp-for="BusinessPostalCode" class="form-control" />
                            <span asp-validation-for="BusinessPostalCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="BusinessEmail" class="control-label"></label>
                            <input asp-for="BusinessEmail" class="form-control" />
                            <span asp-validation-for="BusinessEmail" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>

            @*this below create fields are for MemberAddressData*@
                <div class="col">
                    <h4>FOR MEMBER ADDRESS DIRECTORY</h4>
                    <br />

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <h6 class="d-inline">Address</h6>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <h6 class="d-inline">Country</h6>
                                <input asp-for="Country" class="form-control" />
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <h6 class="d-inline">State</h6>
                                <input asp-for="State" class="form-control" />
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <h6 class="d-inline">City</h6>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <h6 class="d-inline">Postal Code</h6>
                                <input asp-for="PostalCode" class="form-control" />
                                <span asp-validation-for="PostalCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <h6 class="d-inline">Address Type</h6>
                                <input asp-for="AddressType" class="form-control" />
                                <span asp-validation-for="AddressType" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <h6 class="d-inline">Additional Information</h6>
                                <input asp-for="AdditonalInfo" class="form-control" />
                                <span asp-validation-for="AdditonalInfo" class="text-danger"></span>
                            </div>
                        </div>

                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>

<br />
<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to the list</a>
</div>
@* <br />
<div>
    <a asp-controller="MembersFamily" asp-action="Create">Add Family Data!!</a>
</div>
<br />
<div>
    <a asp-controller="MemberBusiness" asp-action="Create">Add Business Data!!</a>
</div> *@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
