@model MemberDataEntryForm.Models.MemberViewModel

@{
    ViewData["Title"] = "Create";
}

<br />

@{
    if (ViewBag.ErrorCreating != null)
    {
        <h1 style="color:red;">@ViewBag.ErrorCreating</h1>
    }
}
<br />
    <div class="row text-white" style="border-radius:20px;border: hidden rgb(255,255,255);box-shadow: 0 0 100px rgba(255,255,255,.5); backdrop-filter:blur(300px); width:contain; padding:25px 25px;">

        <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

@*     <div class="row d-inline"> *@
        <div class="col-md-6">
            <h4>FOR MEMBER DIRECTORY</h4>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Name*</h6>
                        <input class="input" asp-for="memberData.Name" class="form-control" />
                        <span asp-validation-for="memberData.Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group input-field">
                        <h6 class="d-inline">E-mail*</h6>
                        <input class="input" asp-for="memberData.Email" class="form-control" />
                        <span asp-validation-for="memberData.Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group input-field">
                        <h6 class="d-inline">D.O.B*</h6>
                        <input class="input" asp-for="memberData.Dob" class="form-control" />
                        <span asp-validation-for="memberData.Dob" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Permanent Address*</h6>
                        <input class="input" asp-for="memberData.ResAddress" class="form-control" />
                        <span asp-validation-for="memberData.ResAddress" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Registered Phone No*</h6>
                        <input class="input" asp-for="memberData.ResPhone" class="form-control" />
                        <span asp-validation-for="memberData.ResPhone" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Office No*</h6>
                        <input class="input" asp-for="memberData.OfficeNo" class="form-control" />
                        <span asp-validation-for="memberData.OfficeNo" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Profession / Occupation*</h6>
                        <input class="input" asp-for="memberData.Profession" class="form-control" />
                        <span asp-validation-for="memberData.Profession" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Office Address*</h6>
                        <input class="input" asp-for="memberData.OfficeAddress" class="form-control" />
                        <span asp-validation-for="memberData.OfficeAddress" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Mobile No*</h6>
                        <input class="input" asp-for="memberData.MobileNo" class="form-control" />
                        <span asp-validation-for="memberData.MobileNo" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Alternate Mobile No.*</h6>
                        <input class="input" asp-for="memberData.AlternateMobileNo" class="form-control" />
                        <span asp-validation-for="memberData.AlternateMobileNo" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Date of Marriage*</h6>
                        <input class="input" asp-for="memberData.DateofMarriage" class="form-control" />
                        <span asp-validation-for="memberData.DateofMarriage" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Spouse Name*</h6>
                        <input class="input" asp-for="memberData.NameofSpouse" class="form-control" />
                        <span asp-validation-for="memberData.NameofSpouse" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Spouse D.O.B*</h6>
                        <input class="input" asp-for="memberData.SpouseDob" class="form-control" />
                        <span asp-validation-for="memberData.SpouseDob" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Child Name</h6>
                        <input class="input" asp-for="memberData.ChildName" class="form-control" />
                        <span asp-validation-for="memberData.ChildName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input class="hidden" asp-for="memberData.AuthId" class="form-control" value="@ViewBag.AuthId" />
                    <span asp-validation-for="memberData.AuthId" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                    <div class="col-md-6">
                    <div class="form-group input-field">
                            <h6 class="d-inline">Upload Image</h6>
                        <input class="input" asp-for="memberImageModel.Photo" class="form-control" />
                            <span asp-validation-for="memberImageModel.Photo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group input-field">
                            <h6 class="d-inline">Upload Signature</h6>
                        <input class="input" asp-for="memberImageModel.Signature" class="form-control" />
                            <span asp-validation-for="memberImageModel.Signature" class="text-danger"></span>
                        </div>
                    </div>
            </div>
            
        </div>
        <br /><br />

            @*this below create fields are for MemberFamilyData*@
        <div class="col-md-6">
                <h4>FOR MEMBER FAMILY DIRECTORY</h4>
                <br />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group input-field">
                        <label asp-for="FamilyData.FirstName" class="control-label"></label>
                        <input class="input" asp-for="FamilyData.FirstName" class="form-control" />
                        <span asp-validation-for="FamilyData.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group input-field">
                        <label asp-for="FamilyData.LastName" class="control-label"></label>
                        <input class="input" asp-for="FamilyData.LastName" class="form-control" />
                        <span asp-validation-for="FamilyData.LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group input-field">
                        <label asp-for="FamilyData.Mobile" class="control-label"></label>
                        <input class="input" asp-for="FamilyData.Mobile" class="form-control" />
                        <span asp-validation-for="FamilyData.Mobile" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group input-field">
                        <label asp-for="FamilyData.ChildName" class="control-label"></label>
                        <input class="input" asp-for="FamilyData.ChildName" class="form-control" />
                        <span asp-validation-for="FamilyData.ChildName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group input-field">
                        <label asp-for="FamilyData.Relation" class="control-label"></label>
                        <input class="input" asp-for="FamilyData.Relation" class="form-control" />
                        <span asp-validation-for="FamilyData.Relation" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group input-field">
                        <label asp-for="FamilyData.HomeAddress" class="control-label"></label>
                        <input class="input" asp-for="FamilyData.HomeAddress" class="form-control" />
                        <span asp-validation-for="FamilyData.HomeAddress" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
    <br />
    <br />


            @*this below create fields are for MemberBusinessData*@
            @* <div class="row"> *@
            <div class="col-md-6">
            <h4>FOR MEMBER BUSINESS DIRECTORY</h4>
            <br />

                <div class="row">
                    <div class="col-md-6">
                    <div class="form-group input-field">
                        <label asp-for="BusinessData.BusinessName" class="control-label"></label>
                        <input class="input" asp-for="BusinessData.BusinessName" class="form-control" />
                            <span asp-validation-for="BusinessData.BusinessName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group input-field">
                            <label asp-for="BusinessData.BusinessDetail" class="control-label"></label>
                        <input class="input" asp-for="BusinessData.BusinessDetail" class="form-control" />
                            <span asp-validation-for="BusinessData.BusinessDetail" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-6">
                    <div class="form-group input-field">
                            <label asp-for="BusinessData.BusinessAddress" class="control-label"></label>
                        <input class="input" asp-for="BusinessData.BusinessAddress" class="form-control" />
                            <span asp-validation-for="BusinessData.BusinessAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group input-field">
                            <label asp-for="BusinessData.BusinessCity" class="control-label"></label>
                        <input class="input" asp-for="BusinessData.BusinessCity" class="form-control" />
                            <span asp-validation-for="BusinessData.BusinessCity" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-md-6">
                    <div class="form-group input-field">
                            <label asp-for="BusinessData.BusinessPostalCode" class="control-label"></label>
                        <input class="input" asp-for="BusinessData.BusinessPostalCode" class="form-control" />
                        <span asp-validation-for="BusinessData.BusinessPostalCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group input-field">
                            <label asp-for="BusinessData.BusinessEmail" class="control-label"></label>
                        <input class="input" asp-for="BusinessData.BusinessEmail" class="form-control" />
                            <span asp-validation-for="BusinessData.BusinessEmail" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>
            <br /><br />
            @*this below create fields are for MemberAddressData*@
                <div class="col-md-6">
                    <h4>FOR MEMBER ADDRESS DIRECTORY</h4>
                    <br />

                    <div class="row">
                        <div class="col-md-6">
                    <div class="form-group input-field">
                                <h6 class="d-inline">Address</h6>
                        <input class="input" asp-for="AddressData.Address" class="form-control" />
                                <span asp-validation-for="AddressData.Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                    <div class="form-group input-field">
                                <h6 class="d-inline">Country</h6>
                        <input class="input" asp-for="AddressData.Country" class="form-control" />
                                <span asp-validation-for="AddressData.Country" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                    <div class="form-group input-field">
                                <h6 class="d-inline">State</h6>
                        <input class="input" asp-for="AddressData.State" class="form-control" />
                                <span asp-validation-for="AddressData.State" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                    <div class="form-group input-field">
                                <h6 class="d-inline">City</h6>
                        <input class="input" asp-for="AddressData.City" class="form-control" />
                                <span asp-validation-for="AddressData.City" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                    <div class="form-group input-field">
                                <h6 class="d-inline">Postal Code</h6>
                        <input class="input" asp-for="AddressData.PostalCode" class="form-control" />
                                <span asp-validation-for="AddressData.PostalCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                    <div class="form-group input-field">
                                <h6 class="d-inline">Address Type</h6>
                        <input class="input" asp-for="AddressData.AddressType" class="form-control" />
                                <span asp-validation-for="AddressData.AddressType" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                        <div class="col-md-6">
                <div class="form-group input-field">
                                <h6 class="d-inline">Additional Information</h6>
                    <input class="input" asp-for="AddressData.AdditonalInfo" class="form-control" />
                                <span asp-validation-for="AddressData.AdditonalInfo" class="text-danger"></span>
                            </div>
                        </div>

                </div>
            <br />
            <div class="form-group">
            <input type="submit" value="Create" class="btn btn-success"/>
            </div>
        </form>
</div>

<br />
<div>
    <a asp-controller="Home" asp-action="Index" asp-route-AuthId="@ViewBag.AuthId" class="btn btn-primary"><i class="bi bi-arrow-left-circle-fill"></i>  Back to the list</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
