@model MemberDataEntryForm.Models.MemberData

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-white">Edit your Data</h1>

<div class="row text-white" style="border-radius:20px;border: hidden rgb(255,255,255);box-shadow: 0 0 100px rgba(255,255,255,.5); backdrop-filter:blur(300px); width:contain; padding:25px 25px;">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />


            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Name*</h6>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">D.O.B*</h6>
                        <input asp-for="Dob" class="form-control" />
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Permanent Address*</h6>
                        <input asp-for="ResAddress" class="form-control" />
                        <span asp-validation-for="ResAddress" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Registered Phone No*</h6>
                        <input asp-for="ResPhone" class="form-control" />
                        <span asp-validation-for="ResPhone" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Office No*</h6>
                        <input asp-for="OfficeNo" class="form-control" />
                        <span asp-validation-for="OfficeNo" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Profession / Occupation*</h6>
                        <input asp-for="Profession" class="form-control" />
                        <span asp-validation-for="Profession" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Office Address*</h6>
                        <input asp-for="OfficeAddress" class="form-control" />
                        <span asp-validation-for="OfficeAddress" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Mobile No*</h6>
                        <input asp-for="MobileNo" class="form-control" />
                        <span asp-validation-for="MobileNo" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Alternate Mobile No.*</h6>
                        <input asp-for="AlternateMobileNo" class="form-control" />
                        <span asp-validation-for="AlternateMobileNo" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">E-mail*</h6>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Date of Marriage*</h6>
                        <input asp-for="DateofMarriage" class="form-control" />
                        <span asp-validation-for="DateofMarriage" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Spouse Name*</h6>
                        <input asp-for="NameofSpouse" class="form-control" />
                        <span asp-validation-for="NameofSpouse" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Spouse D.O.B*</h6>
                        <input asp-for="SpouseDob" class="form-control" />
                        <span asp-validation-for="SpouseDob" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <h6 class="d-inline">Child Name</h6>
                        <input asp-for="ChildName" class="form-control" />
                        <span asp-validation-for="ChildName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <input type="hidden" asp-for="AuthId" class="form-control" value="@ViewBag.AuthId" />
                    <span asp-validation-for="AuthId" class="text-danger"></span>
                </div>
            </div>

            <br />
            @{
                if(ViewBag.msg != null)
                {
                    <div class="form-group">
                        <input type="submit" value="Save data" class="btn btn-success" />
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <input type="submit" value="request Changes" class="btn btn-success" />
                    </div>
                }
            }
            
        </form>
    </div>
</div>
<br />
<a asp-action="Details" asp-route-id="@Model?.Id" asp-route-AuthId="@ViewBag.AuthId" class="btn btn-primary"><i class="bi bi-arrow-left-circle-fill"></i>  Back to Details</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
