@model MemberDataEntryForm.Models.MemberProposedData

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-white">Edit</h1>


<div class="row text-white" style="border-radius:20px;border: hidden rgb(255,255,255);box-shadow: 0 0 100px rgba(255,255,255,.5); backdrop-filter:blur(300px); width:contain; padding:25px 25px;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MemProId" />
    <div class="col">

            <h3 class="text-white">Member Existing Data</h3>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Name*</h6>
                        <input class="input" asp-for="MemberData.Name" class="form-control" readonly/>
                        <span asp-validation-for="MemberData.Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">D.O.B*</h6>
                        <input class="input" asp-for="MemberData.Dob" class="form-control" readonly />
                        <span asp-validation-for="MemberData.Dob" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Permanent Address*</h6>
                        <input class="input" asp-for="MemberData.ResAddress" class="form-control" readonly />
                        <span asp-validation-for="MemberData.ResAddress" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Registered Phone No*</h6>
                        <input class="input" asp-for="MemberData.ResPhone" class="form-control" readonly />
                        <span asp-validation-for="MemberData.ResPhone" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Office No*</h6>
                        <input class="input" asp-for="MemberData.OfficeNo" class="form-control" readonly />
                        <span asp-validation-for="MemberData.OfficeNo" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Profession / Occupation*</h6>
                        <input class="input" asp-for="MemberData.Profession" class="form-control" readonly />
                        <span asp-validation-for="MemberData.Profession" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Office Address*</h6>
                        <input class="input" asp-for="MemberData.OfficeAddress" class="form-control" readonly />
                        <span asp-validation-for="MemberData.OfficeAddress" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Mobile No*</h6>
                        <input class="input" asp-for="MemberData.MobileNo" class="form-control" readonly />
                        <span asp-validation-for="MemberData.MobileNo" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Alternate Mobile No.*</h6>
                        <input class="input" asp-for="MemberData.AlternateMobileNo" class="form-control" readonly />
                        <span asp-validation-for="MemberData.AlternateMobileNo" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">E-mail*</h6>
                        <input class="input" asp-for="MemberData.Email" class="form-control" readonly />
                        <span asp-validation-for="MemberData.Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Date of Marriage*</h6>
                        <input class="input" asp-for="MemberData.DateofMarriage" class="form-control" readonly />
                        <span asp-validation-for="MemberData.DateofMarriage" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Spouse Name*</h6>
                        <input class="input" asp-for="MemberData.NameofSpouse" class="form-control" readonly />
                        <span asp-validation-for="MemberData.NameofSpouse" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Spouse D.O.B*</h6>
                        <input class="input" asp-for="MemberData.SpouseDob" class="form-control" readonly />
                        <span asp-validation-for="MemberData.SpouseDob" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Child Name</h6>
                        <input class="input" asp-for="MemberData.ChildName" class="form-control" readonly />
                        <span asp-validation-for="MemberData.ChildName" class="text-danger"></span>
                    </div>
                </div>
            </div>
    </div>
    <br />
    <br />
    <div class="col">
            <h3 class="text-wihte">Member Proposed Data</h3>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Name*</h6>
                        <input class="input" asp-for="Name" class="form-control" readonly />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">D.O.B*</h6>
                        <input class="input" asp-for="Dob" class="form-control" readonly />
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Permanent Address*</h6>
                        <input class="input" asp-for="ResAddress" class="form-control" readonly />
                        <span asp-validation-for="ResAddress" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Registered Phone No*</h6>
                        <input class="input" asp-for="ResPhone" class="form-control" readonly />
                        <span asp-validation-for="ResPhone" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Office No*</h6>
                        <input class="input" asp-for="OfficeNo" class="form-control" readonly />
                        <span asp-validation-for="OfficeNo" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Profession / Occupation*</h6>
                        <input class="input" asp-for="Profession" class="form-control" readonly />
                        <span asp-validation-for="Profession" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Office Address*</h6>
                        <input class="input" asp-for="OfficeAddress" class="form-control" readonly />
                        <span asp-validation-for="OfficeAddress" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Mobile No*</h6>
                        <input class="input" asp-for="MobileNo" class="form-control" readonly />
                        <span asp-validation-for="MobileNo" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 input-field">
                    <div class="form-group">
                        <h6 class="d-inline">Alternate Mobile No.*</h6>
                        <input class="input" asp-for="AlternateMobileNo" class="form-control" readonly />
                        <span asp-validation-for="AlternateMobileNo" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">E-mail*</h6>
                        <input class="input" asp-for="Email" class="form-control" readonly />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Date of Marriage*</h6>
                        <input class="input" asp-for="DateofMarriage" class="form-control" readonly />
                        <span asp-validation-for="DateofMarriage" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Spouse Name*</h6>
                        <input class="input" asp-for="NameofSpouse" class="form-control" readonly />
                        <span asp-validation-for="NameofSpouse" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Spouse D.O.B*</h6>
                        <input class="input" asp-for="SpouseDob" class="form-control" readonly />
                        <span asp-validation-for="SpouseDob" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group input-field">
                        <h6 class="d-inline">Child Name</h6>
                        <input class="input" asp-for="ChildName" class="form-control" readonly />
                        <span asp-validation-for="ChildName" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="hidden" asp-for="AuthId" class="form-control" value="@ViewBag.AuthId" />
                <span asp-validation-for="AuthId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="hidden" asp-for="MemId" class="form-control" value="@ViewBag.MemId" />
                <span asp-validation-for="MemId" class="text-danger"></span>
            </div>

            <br />


    </div>
            <div class="form-group">
                <input type="submit" value="Accepted" class="btn btn-success" />
            </div>

        </form>
</div>

<div>
    <a asp-action="DeleteConfirmed" asp-route-AuthId="@ViewBag.AuthId" class="btn btn-danger">Reject Request</a> |
    <a asp-controller="Home" asp-action="Index" asp-route-AuthId="@ViewBag.AuthId" class="btn btn-info">Back to Members List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
